*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
   --laranja:  #F16522;
   --darkblue: #32587C;
}


body {
  font-family: 'Inter', sans-serif;
}


h1, 
h2,
h3,
h5 {
  text-transform: uppercase;
}



.t-center {
  text-align: center;
}

h2  {
  color: white;
  /*padding: 20px;*/
  text-align: center;
}

.row {
  width: 100%;
  padding: 2rem;
}

.meia-row {
  width: 50%;
}

.orange {
  background-color: var(--laranja);
}
.blue {
  background-color: var(--darkblue);
  color: white;
}

.content {
  max-width: 1000px;
  width: 80%;
  margin: auto;
}

.grid-container {
  
  width: 80%;
  max-width: 1000px;
  margin: auto;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1rem;
  text-align: center;
}

.manifesto {
  text-align: left;
/*  width: 80%;
  margin: 1000px;
  margin: auto;*/
}