*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
   --laranja:  #F16522;
   --darkblue: #32587C;
   --white: #ffffff;
   scroll-behavior: smooth;
}

.page-section {
  scroll-margin-top: 52px;
}


body {
  font-family: 'Inter', sans-serif;
  list-style-position: inside;
  list-style-type: disc;
}


h1, 
h2,
h3,
h5 {
  text-transform: uppercase;
  letter-spacing: .04rem;
}

h1 {
  font-size: 2.4rem;
}
h5 {
  font-size: .7rem;
}



.t-center {
  text-align: center;
}

h2  {
  color: white;
  /*padding: 20px;*/
  text-align: center;
}

.topnav {
  overflow: hidden;
  padding: 16px;
  /*text-align: center;*/
  font-weight: bold;
  text-transform: uppercase;
  font-size: .85rem;
  background-color: var(--laranja);
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  /*height: 72px;*/
  z-index: 105;
  /*filter: drop-shadow(0px 2px 0.15rem #32587C82);*/
  
}


.topnav a {
  float: none;
  display: block;
  color: #f2f2f2;
  text-align: left;
  padding: 0px 10px;
/*  margin: 0 8px;
  margin-right: 8px;*/
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  /*height: 64px;
 border-bottom: .15rem solid #ffffff00;
  border-radius: 3px;*/
  margin-bottom: 0;

}

.topnav.hidden {
  top: -72px;
}

.logo-navbar {
  color: white;
}

.topnav ul,
.topnav li {
  list-style-type: none;
}

.topnav ul ul {
  font-size: .7rem;
}

.topnav a:not(:first-child),
.topnav ul {
  display: none;
}

.topnav a.hambmenu {
  display: block;
  float: right;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 8px 15px;
  margin: 0 8px;
}


 .topnav.responsive a {
  display: block;
  margin-bottom: 20px;
 }


.burguer {
width: 42px;
height: 4px;
background-color: white;
margin: 6px 0;
}

#header{
  padding-top: 72px;
}

p span,
li span {
  font-weight: 600;
}

li span {
  color: var(--darkblue);
}

p {
  line-height: 1.5;
  /*margin-bottom: .5rem;*/

}

ul {
  padding:0 20px;
  margin-bottom: 1rem;
}

li {
  margin-bottom: .5rem;
}

.row {
  width: 100%;
  padding: 2rem;
}

.lista-compromissos .row {
 padding: 1rem; 
 margin-bottom: ;
}

.meia-row {
  width: 50%;
}

.orange {
  background-color: var(--laranja);
}
.blue {
  background-color: var(--darkblue);
  color: white;
}

.content {
  max-width: 1000px;
  /*width: 80%;*/
  margin: auto;
    text-align: justify;
  text-justify: inter-word;

}

.grid-container {
  
  width: 80%;
  max-width: 1000px;
  margin: auto;
  display: grid;
  justify-items: center;
  /*align-items: center;*/
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 2rem;
  text-align: center;
}

.membro-lista {
  text-align: center;
}

.nome {
  font-weight: bold;
  color: var(--darkblue);
}

.idade {
  font-size: .8rem;
}

.job {
  font-weight: bold;
  font-size: .7rem;

}

.manifesto {
  text-align: left;
/*  width: 80%;
  margin: 1000px;
  margin: auto;*/
}

.header-compromissos {
  display: flex;
  margin-bottom: .5rem;
}

.header-conselho {
  display: flex;
  /*margin-bottom: .5rem;*/
}

.img-conselhos {
  max-width: 98%;
  margin-bottom: -25px;
}

.title-compromisso {
  color: white;
  padding: .7rem;
  /*margin-bottom: 1rem;*/
  font-size: .9rem;
  margin: 21px -16px;
  padding-left: 20px;
  width: 81%;
  letter-spacing: .04rem;
  white-space: break-spaces;
  text-align: left;
}

.svg-compromissos {
  fill: var(--darkblue);
  width: 75px;
  z-index: 99;
}


footer {
  background-color: var(--darkblue);
  padding: 2rem;
  text-align: center;
  padding-bottom: 150px;
}

#vota-psd {
  max-width: 400px;
}

.redes-sociais ul {
  margin-top: 20px;
  text-align: center;

}

.icone-social {
  list-style-type: none;
  display: inline-block;
  margin: 10px;
}
.icone-svg {
  width: 40px;
}

.button {
  border: none;
  background-color: white;
  color: var(--darkblue);
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 8px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  place-items: center;
}

.icone {
  width: 25px;
  fill: var(--darkblue);
  display: inline-block;
}

.button h3 {
  display: inline-block;
  padding-right: 12px;
  font-size: 1rem;
  letter-spacing: .01rem;
}

a:link,
a:visited {
  text-decoration: none;
}

.whatsapp-cta {
  /*width: 50px;*/
  position: fixed;
  bottom: 20px;
  right: 20px;
  filter: drop-shadow(0 0 0.25rem #32587C82);
  text-align: center;
}

.whatsapp-cta a p {
  background-color: var(--darkblue);
  color: white;
  /*text-align: right;*/
  margin-top: 8px;
  padding: 8px;
  font-size: .6rem;
font-weight: 600;
text-transform: uppercase;
border-radius: 5px;
}

.whatsapp-btn {
  width: 50px;
}

.btn-scroll {
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: background-color .3s, opacity .5s,visibility .5s;
}

.show {
  opacity: 1 !important;
  visibility: visible !important;
}


@media only screen and (min-width: 768px) {
  /* For desktop: */

  .grid-container {
    justify-items: start;
  }

  .membro-lista {
    text-align: left;
  }

  .content {
    width: 80%;
  }

  ul {
  padding:0 40px;
  
  }

  .title-compromisso {
    
    font-size: 1rem;
    margin: 21px -10px;
    
    width: 91%;
  }


.img-conselhos {
  max-width: 100%;

}


}